@model IEnumerable<AM.ApplicationCore.Domain.Flight>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Index" asp-controller="Plane">List Plane</a>
</p>
<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index">
     <div class="form-group">
               
                <input type="date" id="datesup"  name="Date" class="form-control" />
               
            </div>
            <br />
            <br />
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EffectiveArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaneId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pilot)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EffectiveArrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaneId)
            </td>
                <td>
                  <img src="@Url.Content("~/upload/"+ item.Pilot)" width="100px" height="100px" style="display:@(string.IsNullOrEmpty(item.Pilot)? "none": "")" />
                </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.FlightId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.FlightId }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.FlightId })
            </td>
        </tr>
}
    </tbody>
</table>
